/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
.backgroundImage {
  background: url("../img/background.png");
}
.centerDiv {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  padding-top: 60px;
}
.mainFont {
  color: white;
  font-size: 26px;
  font-weight: bold;
}
.topPadding {
  padding-top: 12px;
}
.largeTopPadding {
  padding-top: 25px;
}


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default; // Include all of Ionic
@import "www/lib/ionic/scss/ionic";
